.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.header .logo{
    margin-bottom: 40px;
}

.header .title{
    color: hsl(210, 10%, 33%);
    font-size: 40px;
    margin-bottom: 20px;
}

.header .description{
    text-align: center;
    color: hsl(201, 11%, 66%);
    width: 650px;
    margin-bottom: 60px;
}